<style>
    .page-footer{
        background-image: linear-gradient(to left,black,green);
    }
    .nav-link{
        font-size: larger;
        color: white;
        font-style: italic;
        font-weight: 900;
    }
</style>
<!-- Footer -->
    <footer class="page-footer">
        <div class="gradient"></div>
        <!-- Footer Links -->
        <!-- Container -->
        <div class="container">

            <!-- Grid row-->
            <div class="row text-center d-flex justify-content-center">

                <!-- Grid column -->
    
                
                         <a class="nav-link" href="index">Acceil</a>  
                         <a class="nav-link" href="Afficher">Afficher</a>
                         <a class="nav-link" href="Ajouter">Ajouter</a>
                
                <!-- Grid column -->

            </div>
            <!-- Grid row-->

            <!-- Footer Links -->
            <div class="row text-center" style="color: white">
                <!-- Copyright -->
                <div class="col-md-12 footer-copyright"><center>
                  <h4> <b> <i>© 2022, All Rights Reserved. Designed by </i></b></h4></center> </div>
                
            </div>
            <div class="row d-flex text-center justify-content-center">

            </div>
        </div>
    </footer>