{% extends 'base.html' %}
{% block body %} 
                <legend  style="font-size: 30; color: rgb(48, 175, 165);">Cliquer sur votre choix</legend>
            <h1>AjoutVoitures</h1>
                <button ><a href="AV" class="btn btn-succes">New car</a> </button>
            <h1>AjoutClients</h1>
            <button><a href="AC" class="btn btn-succes">New client</a> </button>
            <h1>AjoutLocation</h1>
            <button> <a href="AL" class="btn btn-succes">Add Locat</a> </button>
            <h1>AjoutContras</h1>
            <button> <a href="ACon" class="btn btn-succes">Add Contra </a></button>
            </div>
        
{% endblock body %} 