<header style="background-color: aqua;">
	<Marquee ><h1 style="color: black;">Bienvenue ! </h1></marquee></header>
	<div style=" display: grid; color: cadetblue; font-size: larger;">
<h1>Location Management </h1>
<form method = "POST" class = "post-form">
	<fieldset><legend>Location informations</legend>
{% csrf_token %}
{{ form.as_p }}
<button type = "submit" class = "save btn">Valider</button>
</form>
</div>
<button type = "submit" class = "save btn"><a href="index">Sortir</a></button>

{% comment %} <table class="table" border = 1 bordercolor="black" width = "600" style = "border-collapse: collapse;">
	<thead>
		<tr>
			<th><h2>NumLocat  </h2></th>
			<th><h2>DateLocat  </h2></th>
			<th><h2> dureeLocat </th></h2>
			<th><h2> Locataire </th></h2>
			<th><h2> voiture </th></h2>
		</tr>
	</thead>
	<tbody>
		{% for locate in datalocate %}
		<tr>
			<td><h2>{{locate.NumLocat }}</h2></td>
			<td><h2>{{locate.DateLocat }}</h2></td>
			<td><h2>{{locate.dureeLocat }}</h2></td>
			<td><h2>{{locate.Locataire }}</h2></td>
			<td><h2>{{locate.voiture }}</h2></td>
		</tr>
		{% endfor %}
	</tbody>
	
</table> {% endcomment %}