{% extends 'base.html' %}
{% block body %}
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>GL</title>
	
</head>

	
<div style=" display:grid ; color: forestgreen; font-size: larger;">
<h1>New Car </h1>
<!-- {{form}} -->
 <form enctype = "multipart/form-data" method = "post">
	<fieldset><legend>Voiture  informations</legend>
		{% csrf_token %}
{{ form.as_p }}</fieldset> 
<button type = "submit" class = "btn btn-primary">New Car</button>
<button type = "reset" class = " btn btn-primary">Modify</button>
</form> 
</div>

<!-- <h1 style="color: black;"> Voila les Voitures Disponibles </h1>
		{% for element in voitures %}
		<h1>  <i> Photo: </i><br></h1>
		<img src = "/Media/{{element.photo }}" width ="700" height ="250" style="float : left;" >
			<h2 align="center"><b><i>Immt: {{element.immt}}</i></b></h2> 
			<h2 align="center">Modelle: {{element.Modelle }}</i></b></h2> 
			<h2 align="center">Marque: {{element.Marque }}</i></b></h2> 
			<h2 align="center">Couleur: {{element.Couleur }}</i></b></h2> 
			<h2 align="center">Disponible: {{element.disponible }}</i></b></h2> 
			</br />
			</br />
			</br />
		<hr style = "width: 1340px">
			{% endfor %}
	</tbody>
	
</table> --> {% endblock body %}
