<!doctype html>
<html lang="en">
  <head>

    <title>GL</title>
  </head>
  <body>
    
      <main >
        {% block  content %}
        {% comment %} <nav class="navbar navbar-expand-md navbar-dark fixed-top">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="index">Acceil </li>
               <li class="hidden">/</li>
              <li class="nav-item">
                  <a href="log">Login</a>
              </li> </ul>
        
      </nav> {% endcomment %}
        {% endblock  %}
      </main>  
 
  </body>
</html>