{% comment %} {% extends 'base.html' %}
{% block body %} {% endcomment %}
<body style="background-color:floralwhite;">

	<div style=" display: grid; color: green; font-size: larger;">
		<h1><i> Toutes les infos du voiture</i></h1>
		<div class="custom-card card mb-3 shadow" style="width: 100ch;" >
			<img src = "{{voitures.photo.url }}" class="card-img-top" width="70%" weight = "10%" >
			<div class="card-body">
		
			<h2><b><i>Immt: {{ voitures.immt }} 
				Modelle: {{voitures.Modelle }}  
				Marque: {{voitures.Marque }}   
				Couleur: {{voitures.Couleur }} 
				Disponible: {{voitures.disponible }} </i></b></h2>
			</div>
			</div>
		</div>
		</div>  
	</div>
</body>